node_modules
.env.local
.env*.local
.DS_Store
.next/
out/
tsconfig.tsbuildinfo
document-management-app.git/
.vercel
.env*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
